.card {
  width: 92px;
  height: 130px;

  margin-top: -95px;

  background: #f6f0e5;

  font-size: 140px;

  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piles {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  margin-top: 200px;
}

.pile {
  display: flex;
  flex-direction: column;

  width: 150px;
  height: 800px;
}

.game {
  margin-top: 150px;
}

.foundation {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
}

.wasteCardPiles {
  width: 50%;

  display: flex;
  justify-content: flex-start;
}

.foundationPiles {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
}
